.first-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.site__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    padding-left: 10px;  /* костыльное выравнивание из-за шрифта */
}

.site__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 105%;
    letter-spacing: 0.19em;
    color: #949494;
}

.site__subtitle_text {
    color: #B055FF;
}

.site__scroll-down-block {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.scroll-down {
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;
    letter-spacing: 0.05em;
}